services:
  app:
    container_name: just-travel-token-management-frontend
    build:
      context: .
      args:
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    environment:
      NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    ports:
      - "${APP_PORT}:3000"
    restart: unless-stopped
